In [37]:
#install wget to extract data from exteranal source

In [36]:
pip install wget

Requirement already satisfied: wget in c:\users\amazon\anaconda3\lib\site-packages (3.2)
Note: you may need to restart the kernel to use updated packages.

In [38]:
#Data get database from exteranal source

In [39]:
!python -m wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0232EN-SkillsNetwork/asset/classic_rock.db

Saved under classic_rock (1).db

In [40]:
#import important libraries.

In [41]:
import pandas as pd
import sqlite3 as sql3

In [42]:
#specify database path

In [43]:
path="classic_rock.db"

In [44]:
#create connection with database using sqlite libarary

In [45]:
con=sql3.Connection(path)

In [46]:
#Now it is time to write query for extracting data

In [47]:
query=''' select * from rock_songs'''

In [48]:
#Now let run query via pandas library

In [49]:
data=pd.read_sql(query,con)

In [50]:
#Now lets show the data

In [51]:
data.head()

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13